{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-decorators",
    "syntax-do-expressions",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
