@import 'settings/base';

.layoutContentWrapper {
  padding: 50px 15px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    padding: 50px 20px;
  }

  .componentTitle {
    font-size: @fontSize + 5;
    font-weight: 500;
    color: @color--DarkBlue;
    width: 100%;
    margin: 0 17px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    @media only screen and (max-width: 767px) {
      margin: 0 10px;
      margin-bottom: 30px;
    }

    &:before {
      content: '';
      width: 5px;
      height: 40px;
      background-color: darken(@color--LightBluish, 5%);
      display: flex;
      margin-right: 15px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: darken(@color--LightBluish, 5%);
      display: flex;
      margin-left: 15px;
    }
  }

  .boxWrapper {
    width: 100%;
    height: 100%;
    // padding: 25px 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid @color--Border;
    margin: 0 17px 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (max-width: 767px) {
      padding: 20px;
      margin: 0 10px 30px;
    }

    &.half {
      width: calc(~"50% - 34px");
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .boxTitle {
      font-size: @fontSize;
      font-weight: 500;
      color: @color--Heading;
      margin: 0;
      margin-bottom: 5px;
    }

    .boxSubTitle {
      font-size: @fontSize - 1;
      font-weight: 400;
      color: @color--TextDark;
      line-height: 24px;
    }

    code {
      font-size: @fontSize - 1;
      font-weight: 400;
      color: @color--HeadingLight;
      padding: 2px 7px;
      background-color: @color--DarkerWhite;
      border: 1px solid @color--Border;
      .borderRadius(3px);
    }

    .exampleWrapper {
      margin-top: 30px;
      -webkit-overflow-scrolling: touch;

      .demoBtn {
        margin-right: 10px;
      }

      .demoPosBtn {
        width: 70px;
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 0;

        @media only screen and (max-width: 480px) {
          width: 65px;
        }
      }

      .demoBtnsWrapper {
        @media only screen and (max-width: 480px) {
          margin-left: 0 !important;
          white-space: nowrap;
          margin-right: 8px;
          float: none !important;
        }
      }

      .ant-btn {
        &:last-child {
          margin-right: 0;
        }
      }

      .tooltipBtn {
        display: inline-block;
        line-height: 32px;
        height: 32px;
        width: 70px;
        font-size: 14px;
        text-align: center;
        background: @color--LightBluish;
        margin-right: 6px;
        margin-bottom: 6px;
        border-radius: 6px;
      }

      .ant-progress {
        &.ant-progress-circle {
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      strong {
        font-weight: 700;
        font-size: @fontSize;
      }
    }
  }
}
@media (max-width: 580px) {
  .layoutContentWrapper {
    padding: 15px;
  }
}

.formFieldTitle {
  font-size: @fontSize;
  font-weight: 700;
  color: @color--HeadingLight;
  margin: 0 0 10px;
  display: block;
}

.leftRightComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.centerComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ant-row > div {
  padding: 0;
}

.ant-layout-footer {
  font-size: @fontSize - 1;
  @media (max-width: 767px) {
    padding: 10px 20px;
  }
}

.emptyComponent {
  min-height: 74vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: @fontSize * 2 + 8;
    font-weight: 300;
    color: @color--GreyDark;
    line-height: 1.5;
  }
}
